@import 'variables';
@import 'mixins';

.restaurant{
    margin: $padding-content 0;
    position: relative;
    z-index: 2;

    @media (min-width: 1000px) {
        .restaurant{
            &__img-block1{
                opacity: 0;
            };
            &__img-landscape{
                opacity: 0;
            }

            &__detail{
                opacity: 0;
            }
        }
        &.open {

            & .restaurant__img-block1{
                &:first-child{
                    opacity: 1;
                    transition: opacity linear 0.3s;
                }
                &:last-child{
                    opacity: 1;
                    transition: opacity linear 0.3s 0.6s;
                }
            }
            & .restaurant__img-landscape{
                &:first-child{
                    opacity: 1;
                    transition: opacity linear 0.3s 0.2s;
                }
                &:last-child{
                    opacity: 1;
                    transition: opacity linear 0.3s 0.4s;
                }
            }

            & .restaurant__detail{
                &:first-child{
                    opacity: 1;
                    transition: opacity linear 0.3s 0.6s;
                }
                &:last-child{
                    opacity: 1;
                    transition: opacity linear 0.3s 0.8s;
                }
            }
        }
    }
    &__row{
        margin-bottom: $space-48;
    }

    &__title{
        position: relative;

        &::before{
            @include separatedTitle
        }
    }

    &__row{
        justify-content: center;
    }
    &__topic{
        @include topic;
        position:relative
    }
    &__desc{
        font-size: $name-size;
        margin-bottom: 2rem;
    }

    &__imgs{
        margin-bottom: $space-48;
        &-row{
            align-items: center;
        }
    }



    &__img-block2{
        flex-direction: column;
    }

    &__img-vertical{
        width: 100%;
        max-height: 480px;
    }

    &__img-landscape{
        width: 100%;
        max-height:250px;
        & + .restaurant__img-landscape{
            margin-top: $space-30
        }
    }
}