@import 'mixins';
@import 'variables';
@import 'animations';

.services{
    padding: $space-30 0;
    position: relative;    
    background-color: $darkerWhite;
    z-index: 2;

    @media(min-width:1000px){
        &__block{
            transform: translateY(20%);    
            opacity: 0;   
        }

        &.open{
            & .services__row{
                &:first-child{     
     
                    .services__block{
                        &:first-child{
                            transform: translateY(0%);
                            opacity: 1;    
                            transition: all linear 0.3s;
                        }
                        &:nth-child(2){
                            transform: translateY(0%);
                            opacity: 1;    
                            transition: all linear 0.3s 0.2s;
                        }
                        &:nth-child(3){
                            transform: translateY(0%);
                            opacity: 1;  
                            transition: all linear 0.3s 0.4s;
                        }
                        &:nth-child(4){
                            transform: translateY(0%);
                            opacity: 1;    
                            transition: all linear 0.3s 0.6s;
                        }
                        &:nth-child(5){
                            transform: translateY(0%);
                            opacity: 1;    
                            transition: all linear 0.3s 0.8s;
                        }
                        &:nth-child(6){
                            transform: translateY(0%);
                            opacity: 1;    
                            transition: all linear 0.3s 1s;
                        }
                        &:nth-child(7){
                            transform: translateY(0%);
                            opacity: 1;    
                            transition: all linear 0.3s 1.2s;   
                        }
                        &:nth-child(8){
                            transform: translateY(0%);
                            opacity: 1;    
                            transition: all linear 0.3s 1.4s;
                        }
                    }
                }

            }
        }
    }

    &__row{
        margin-bottom: $space-16;


    }



    &__icon{
        img{
            width: 30px;
        }
        &-wrapper{
            @include square;
            background-color: $primary;
            border-radius: 100%;
            @include display(flex,center);
            align-items:center;
            margin-bottom: $space-30;
        }
    }
    &__tag{
        font-weight: 300;
        letter-spacing: 2.5px;
        color: $primary;
        margin-bottom: $space-8;
    }

    &__desc{
        margin-bottom: $space-16
    }

    &::after{
        @include separatedBlock($darkerWhite);
        z-index:-1;
    }

}