$primary: #ff7404;

$white: #fff;

$darkerWhite:#f8f9fa;

$text-color: #868e96;


$header-height: 83px;

$padding-content: 225px;

$space-30: 30px;

$space-48: 48px;

$space-8: 8px;

$space-16: 16px;


$text-size: 1.4rem;

$special-size: 2.3rem;

$title-size: 5rem;

$topic-size: 2rem;

$name-size: 1.6rem;

$text-slider: 8rem;

