@import 'variables';
@import 'mixins';
@import 'header';
@import 'slider';
@import 'services';
@import 'restaurant';
@import 'special';
@import 'menu';
@import 'testimonial';
@import 'blog';
@import 'footer';
@import './aboutus/chef';
@import './contact/contact-form';

*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    width: 100%;
    overflow-X: hidden;
}

body{
    font-size: $text-size;
    color: $text-color;
    width: 100%;
    overflow-X: hidden;
}

ul{
    list-style-type: none;
    padding:0;
    margin: 0;
}

a{
    text-decoration: none;
    color: $white;

    &:hover{
        color: $white;
    }
}

button{
    outline: none;
}

.active{
    color: $primary
}

.center{
    text-align: center;
}

.white{
    color: $white;
}

.row-reverse{
    flex-direction: row-reverse;
}

.none-margin-top{
    margin-top: 0;
}

.beforeGray{
    &::before{
        @include separatedBlock($darkerWhite);
        z-index:-1;
        top:0;
    }
}

.afterGray{
    &::after{
        @include separatedBlock($darkerWhite);
        z-index:-1;
    }
}

.beforeWhite{
    &::before{
        @include separatedBlock($white);
        z-index:-1;
        top:0;
    }
}

.afterWhite{
    &::after{
        @include separatedBlock($white);
        z-index:-1;
    }
}

.gray{
    background-color: $darkerWhite;
}

