.header {
  height: 83px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  align-self: center;
  margin: 30px 0;
  z-index: 1000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header__left {
  width: 20%;
}
.header__logo {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__control {
  display: none;
  position: fixed;
  right: 10px;
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: black;
  cursor: pointer;
  transition: all 0.4s linear;
}
.header__control-btn {
  width: 25px;
}
.header__right {
  height: 100%;
  flex: 1;
}
.header__navlist-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 75%;
  align-items: center;
  padding: 0 30px;
}
.header__item {
  position: relative;
}
.header__item:hover .header__subnav {
  opacity: 1;
}
.header__item + .header__item {
  padding-left: 30px;
}
.header__nav-link {
  font-size: 1.6rem;
}
.header__button {
  justify-content: flex-end;
  display: flex;
  justify-content: center;
  height: 83px;
  align-items: center;
}
.header__button button {
  padding: 10px 15px;
  border: 2px solid transparent;
  background-color: #ff7404;
  color: #fff;
  font-weight: 500;
}
.header__button button:hover a {
  color: unset;
}
.header__subnav {
  position: absolute;
  width: 225%;
  top: 220%;
  background-color: #fff;
  color: rgb(182, 39, 39);
  border-radius: 8px;
  left: 20px;
  opacity: 0;
  transition: all 0.4s linear;
}
.header__subnav:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #fff;
  top: -8px;
  left: 30px;
}
.header__subnav:after {
  content: "";
  width: 40%;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: -30px;
}

.sub__nav-item {
  padding: 8px;
  color: #868e96;
}
.sub__nav-item:hover {
  color: #ff7404;
}

.row {
  height: 100%;
}

@-webkit-keyframes flowUp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes flowUp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.slider {
  position: relative;
}
@media (max-width: 768px) {
  .slider__content {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.slider__block {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/2072867/pexels-photo-2072867.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="slider__img');
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__block1 {
  background-image: url("https://images.pexels.com/photos/5695918/pexels-photo-5695918.jpeg");
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__img {
  width: 100%;
  height: 100%;
}
.slider__row {
  align-items: center;
  justify-content: center;
  -webkit-animation: flowUp linear 0.8s;
          animation: flowUp linear 0.8s;
}
.slider__title {
  font-size: 8rem;
  color: #fff;
  font-weight: 800;
  margin-bottom: 8px;
  transition: font-size 0.4s linear;
}
@media (max-width: 768px) {
  .slider__title {
    font-size: 4rem;
  }
}
.slider__desc {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  margin-bottom: 48px;
}
.slider__button {
  padding: 10px 15px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  letter-spacing: 2.5px;
  overflow: hidden;
  position: relative;
  transition: all 0.2s linear;
  z-index: 3;
  margin-bottom: 16px;
}
.slider__button::after {
  content: "";
  height: 120%;
  width: 60%;
  top: 0;
  right: -8%;
  background-color: #fff;
  position: absolute;
  transform: skew(-20deg) translateX(100%);
  transition: all 0.2s linear;
}
.slider__button::before {
  content: "";
  width: 60%;
  height: 120%;
  background-color: #fff;
  top: 0;
  left: -8%;
  position: absolute;
  transform: skew(-20deg) translateX(-100%);
  transition: all 0.2s linear;
}
.slider__button:hover {
  color: #ff7404;
}
.slider__button:hover::before {
  transform: skew(-20deg) translateX(0);
  z-index: -1;
}
.slider__button:hover::after {
  transform: skew(-20deg) translateX(0);
  z-index: -1;
}

@keyframes flowUp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.services {
  padding: 30px 0;
  position: relative;
  background-color: #f8f9fa;
  z-index: 2;
}
@media (min-width: 1000px) {
  .services__block {
    transform: translateY(20%);
    opacity: 0;
  }
  .services.open .services__row:first-child .services__block:first-child {
    opacity: 1;
    transition: all linear 0.3s 0s;
    transform: translateY(0);
  }
  .services.open .services__row:first-child .services__block:nth-child(2) {
    opacity: 1;
    transition: all linear 0.3s 0.2s;
    transform: translateY(0);
  }
  .services.open .services__row:first-child .services__block:nth-child(3) {
    opacity: 1;
    transition: all linear 0.3s 0.4s;
    transform: translateY(0);
  }
  .services.open .services__row:first-child .services__block:nth-child(4) {
    opacity: 1;
    transition: all linear 0.3s 0.6s;
    transform: translateY(0);
  }
  .services.open .services__row:first-child .services__block:nth-child(5) {
    opacity: 1;
    transition: all linear 0.3s 0.8s;
    transform: translateY(0);
  }
  .services.open .services__row:first-child .services__block:nth-child(6) {
    opacity: 1;
    transition: all linear 0.3s 1s;
    transform: translateY(0);
  }
  .services.open .services__row:first-child .services__block:nth-child(7) {
    opacity: 1;
    transition: all linear 0.3s 1.2s;
    transform: translateY(0);
  }
  .services.open .services__row:first-child .services__block:nth-child(8) {
    opacity: 1;
    transition: all linear 0.3s 1.4s;
    transform: translateY(0);
  }
}
.services__row {
  margin-bottom: 16px;
}
.services__icon img {
  width: 30px;
}
.services__icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid transparent;
  background-color: #ff7404;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.services__tag {
  font-weight: 300;
  letter-spacing: 2.5px;
  color: #ff7404;
  margin-bottom: 8px;
}
.services__desc {
  margin-bottom: 16px;
}
.services::after {
  content: "";
  width: 100%;
  height: 240px;
  background-color: #f8f9fa;
  transform: skewY(-6deg);
  transform-origin: top left;
  margin-top: 200px;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: 1;
  z-index: -1;
}

.restaurant {
  margin: 225px 0;
  position: relative;
  z-index: 2;
}
@media (min-width: 1000px) {
  .restaurant .restaurant__img-block1 {
    opacity: 0;
  }
  .restaurant .restaurant__img-landscape {
    opacity: 0;
  }
  .restaurant .restaurant__detail {
    opacity: 0;
  }
  .restaurant.open .restaurant__img-block1:first-child {
    opacity: 1;
    transition: opacity linear 0.3s;
  }
  .restaurant.open .restaurant__img-block1:last-child {
    opacity: 1;
    transition: opacity linear 0.3s 0.6s;
  }
  .restaurant.open .restaurant__img-landscape:first-child {
    opacity: 1;
    transition: opacity linear 0.3s 0.2s;
  }
  .restaurant.open .restaurant__img-landscape:last-child {
    opacity: 1;
    transition: opacity linear 0.3s 0.4s;
  }
  .restaurant.open .restaurant__detail:first-child {
    opacity: 1;
    transition: opacity linear 0.3s 0.6s;
  }
  .restaurant.open .restaurant__detail:last-child {
    opacity: 1;
    transition: opacity linear 0.3s 0.8s;
  }
}
.restaurant__row {
  margin-bottom: 48px;
}
.restaurant__title {
  position: relative;
}
.restaurant__title::before {
  content: "";
  width: 20%;
  height: 2px;
  background-color: #ff7404;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.restaurant__row {
  justify-content: center;
}
.restaurant__topic {
  padding-top: 30px;
  margin-bottom: 8px;
  font-size: 5rem;
  font-weight: 800;
  color: #000;
  position: relative;
}
@media (max-width: 768px) {
  .restaurant__topic {
    font-size: 4rem;
  }
}
.restaurant__desc {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.restaurant__imgs {
  margin-bottom: 48px;
}
.restaurant__imgs-row {
  align-items: center;
}
.restaurant__img-block2 {
  flex-direction: column;
}
.restaurant__img-vertical {
  width: 100%;
  max-height: 480px;
}
.restaurant__img-landscape {
  width: 100%;
  max-height: 250px;
}
.restaurant__img-landscape + .restaurant__img-landscape {
  margin-top: 30px;
}

.special {
  padding-bottom: 48px;
  margin-bottom: 48px;
}
@media (min-width: 1000px) {
  .special .specialSwiper {
    transform: translateX(-20%);
    opacity: 0;
  }
  .special.open .specialSwiper {
    transform: translateX(0);
    opacity: 1;
    transition: all ease-in-out 0.4s;
  }
}
.special__row {
  justify-content: center;
  margin-bottom: 48px;
}
.special__title {
  position: relative;
}
.special__title::before {
  content: "";
  width: 20%;
  height: 2px;
  background-color: #ff7404;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.special__topic {
  padding-top: 30px;
  margin-bottom: 8px;
  font-size: 5rem;
  font-weight: 800;
  color: #000;
}
@media (max-width: 768px) {
  .special__topic {
    font-size: 4rem;
  }
}
.special__wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.special__wrapper:hover .special__img {
  transform: scale(1.2);
}
.special__wrapper:hover .special__price-wrapper {
  border-color: #fff;
  background-color: transparent;
}
.special__img {
  width: 100%;
  max-height: 487px;
  filter: brightness(70%);
  transition: all 0.2s linear;
  -o-object-fit: cover;
     object-fit: cover;
}
.special__content {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);
  padding: 10px;
}
.special__price {
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 2.3rem;
}
.special__price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid transparent;
  background-color: #ff7404;
  margin-bottom: 16px;
  transition: all 0.2s linear;
}
.special__name {
  text-align: center;
  color: #fff;
  font-size: 2.3rem;
  font-weight: 700;
}

.menu {
  margin: 225px 0;
  position: relative;
  background-color: #f8f9fa;
  z-index: 3;
}
@media (min-width: 1000px) {
  .menu .menu__dish {
    transform: translateY(10%);
    opacity: 0;
  }
  .menu.open .menu__dish:first-child {
    opacity: 1;
    transition: all linear 0.3s 0s;
    transform: translateY(0);
  }
  .menu.open .menu__dish:nth-child(2) {
    opacity: 1;
    transition: all linear 0.3s 0.2s;
    transform: translateY(0);
  }
  .menu.open .menu__dish:nth-child(3) {
    opacity: 1;
    transition: all linear 0.3s 0.4s;
    transform: translateY(0);
  }
  .menu.open .menu__dish:nth-child(4) {
    opacity: 1;
    transition: all linear 0.3s 0.6s;
    transform: translateY(0);
  }
  .menu.open .menu__dish:nth-child(5) {
    opacity: 1;
    transition: all linear 0.3s 0.8s;
    transform: translateY(0);
  }
  .menu.open .menu__dish:nth-child(6) {
    opacity: 1;
    transition: all linear 0.3s 1s;
    transform: translateY(0);
  }
  .menu.open .menu__dish:nth-child(7) {
    opacity: 1;
    transition: all linear 0.3s 1.2s;
    transform: translateY(0);
  }
  .menu.open .menu__dish:nth-child(8) {
    opacity: 1;
    transition: all linear 0.3s 1.4s;
    transform: translateY(0);
  }
}
.menu__row {
  justify-content: center;
  padding-bottom: 48px;
  margin-bottom: 48px;
}
.menu__title {
  position: relative;
}
.menu__title::before {
  content: "";
  width: 20%;
  height: 2px;
  background-color: #ff7404;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.menu__topic {
  padding-top: 30px;
  margin-bottom: 8px;
  font-size: 5rem;
  font-weight: 800;
  color: #000;
}
@media (max-width: 768px) {
  .menu__topic {
    font-size: 4rem;
  }
}
.dish {
  padding: 16px;
  background-color: #fff;
}
.dish__name {
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.dish__desc {
  font-size: 1.6rem;
}
.dish__price {
  display: block;
  font-size: 2rem;
  margin-top: 16px;
  color: #ff7404;
}
.dish__img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.testi {
  margin: 225px 0;
  background-color: #fff;
  position: relative;
}
.testi__row {
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
  margin-bottom: 48px;
}
.testi__title {
  position: relative;
}
.testi__title::before {
  content: "";
  width: 20%;
  height: 2px;
  background-color: #ff7404;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.testi__topic {
  padding-top: 30px;
  margin-bottom: 8px;
  font-size: 5rem;
  font-weight: 800;
  color: #000;
}
@media (max-width: 768px) {
  .testi__topic {
    font-size: 4rem;
  }
}
.testi__comment {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 16px;
}
.testi__talker {
  display: flex;
  justify-content: flex-start;
}
.testi__ava {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid transparent;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 24px;
}
.testi__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.testi__name {
  font-size: 1.6rem;
  color: #000;
  margin: 0;
}
.testi__position {
  margin: 0;
}

.swiper__row {
  justify-content: center;
}

.blog {
  margin: 225px 0;
  position: relative;
  background-color: #f8f9fa;
  z-index: 2;
}
@media (min-width: 1000px) {
  .blog .blog__block {
    transform: translateY(10%);
    opacity: 0;
  }
  .blog.open .blog__block:first-child {
    opacity: 1;
    transition: all linear 0.3s 0s;
    transform: translateY(0);
  }
  .blog.open .blog__block:nth-child(2) {
    opacity: 1;
    transition: all linear 0.3s 0.2s;
    transform: translateY(0);
  }
  .blog.open .blog__block:nth-child(3) {
    opacity: 1;
    transition: all linear 0.3s 0.4s;
    transform: translateY(0);
  }
  .blog.open .blog__block:nth-child(4) {
    opacity: 1;
    transition: all linear 0.3s 0.6s;
    transform: translateY(0);
  }
  .blog.open .blog__block:nth-child(5) {
    opacity: 1;
    transition: all linear 0.3s 0.8s;
    transform: translateY(0);
  }
  .blog.open .blog__block:nth-child(6) {
    opacity: 1;
    transition: all linear 0.3s 1s;
    transform: translateY(0);
  }
  .blog.open .blog__block:nth-child(7) {
    opacity: 1;
    transition: all linear 0.3s 1.2s;
    transform: translateY(0);
  }
  .blog.open .blog__block:nth-child(8) {
    opacity: 1;
    transition: all linear 0.3s 1.4s;
    transform: translateY(0);
  }
}
.blog__row {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  padding-bottom: 48px;
}
.blog__title {
  position: relative;
}
.blog__title::before {
  content: "";
  width: 20%;
  height: 2px;
  background-color: #ff7404;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.blog__topic {
  padding-top: 30px;
  margin-bottom: 8px;
  font-size: 5rem;
  font-weight: 800;
  color: #000;
}
@media (max-width: 768px) {
  .blog__topic {
    font-size: 4rem;
  }
}
.blog__img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog__content {
  padding: 16px;
  background-color: #fff;
}
.blog__question {
  font-size: 2rem;
  font-weight: 400;
  color: #ff7404;
  margin-bottom: 8px;
}
.blog__date {
  font-size: 1.2rem;
  margin-bottom: 16px;
}
.blog__desc {
  font-size: 1.6rem;
}
.blog__button {
  padding: 5px 10px;
  border: 2px solid transparent;
  background-color: #ff7404;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.footer {
  padding: 75px 0;
}
.footer__heading-row {
  justify-content: center;
  margin-bottom: 48px;
}
.footer__title {
  color: #000;
  margin-bottom: 20px;
  font-weight: 700;
}
.footer__sub-heading {
  margin-bottom: 16px;
}
.footer__form {
  display: flex;
  margin-bottom: 48px;
}
.footer__form-message {
  margin: 0;
  text-align: left;
  color: #ff7404;
}
.footer__form-block {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  margin-right: 8px;
}
.footer__input {
  padding: 8px;
  width: 100%;
  border: 1px solid #868e96;
  outline: none;
}
.footer__button {
  padding: 5px 10px;
  border: 2px solid transparent;
  background-color: #ff7404;
  color: #fff;
  flex: 1;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.footer__row {
  margin-bottom: 48px;
}
.footer__icon {
  margin-top: 48px;
}
.footer__icon a + a {
  margin-left: 8px;
}
.footer__icon-item {
  width: 20px;
}
.footer__part {
  margin-bottom: 16px;
}
.footer__key {
  color: #000;
  margin: 0;
}
.footer li {
  margin-bottom: 16px;
}
.footer__link {
  color: #ff7404;
}
.footer__copyright {
  margin: 0;
}

.chef {
  margin: 225px 0;
  position: relative;
  background-color: #f8f9fa;
}
@media (min-width: 1000px) {
  .chef .chefSwiper {
    transform: translateY(20%);
    opacity: 0;
  }
  .chef.open .chefSwiper {
    opacity: 1;
    transition: all linear 0.3s 0s;
    transform: translateY(0);
  }
}
.chef__row {
  justify-content: center;
  margin-bottom: 48px;
  padding-bottom: 48px;
}
.chef__title {
  position: relative;
}
.chef__title::before {
  content: "";
  width: 20%;
  height: 2px;
  background-color: #ff7404;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.chef__topic {
  padding-top: 30px;
  margin-bottom: 8px;
  font-size: 5rem;
  font-weight: 800;
  color: #000;
}
@media (max-width: 768px) {
  .chef__topic {
    font-size: 4rem;
  }
}
.chef__block {
  width: 100%;
}
.chef__portrait {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.chef__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chef__info {
  padding: 16px;
  text-align: center;
  background-color: #fff;
}
.chef__name {
  font-size: 2rem;
  color: #000;
  font-weight: 400;
  margin-bottom: 16px;
}
.chef__position {
  font-size: 1.6rem;
  margin: 0;
}

.contact {
  padding: 80px 0;
  position: relative;
  z-index: 2;
}
.contact__form {
  margin-bottom: 30px;
}
.contact__form-row {
  height: unset;
}
.contact__block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;
}
.contact__title {
  margin-bottom: 8px;
}
.contact__input {
  border: 1px solid rgb(206, 203, 203);
  width: 100%;
  padding: 10px;
  outline: none;
}
.contact__input.active {
  border-color: #ff7404;
}
.contact__message {
  color: #ff7404;
}
.contact__submit {
  margin-top: 16px;
  padding: 10px 15px;
  border: 2px solid transparent;
  background-color: #ff7404;
  color: #fff;
}
.contact__detail {
  display: flex;
  justify-content: center;
}
.contact__detail-wrapper {
  width: 70%;
}
.contact__topic {
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 30px;
  color: #000;
}
.contact__section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.contact__icon {
  margin-right: 16px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
}
.contact__desc {
  margin-bottom: 0;
  color: #000;
  font-size: 2rem;
  font-weight: 300;
}

@keyframes flowUp {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  overflow-X: hidden;
}

body {
  font-size: 1.4rem;
  color: #868e96;
  width: 100%;
  overflow-X: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}

button {
  outline: none;
}

.active {
  color: #ff7404;
}

.center {
  text-align: center;
}

.white {
  color: #fff;
}

.row-reverse {
  flex-direction: row-reverse;
}

.none-margin-top {
  margin-top: 0;
}

.beforeGray::before {
  content: "";
  width: 100%;
  height: 240px;
  background-color: #f8f9fa;
  transform: skewY(-6deg);
  transform-origin: top left;
  margin-top: 200px;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: 1;
  z-index: -1;
  top: 0;
}

.afterGray::after {
  content: "";
  width: 100%;
  height: 240px;
  background-color: #f8f9fa;
  transform: skewY(-6deg);
  transform-origin: top left;
  margin-top: 200px;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: 1;
  z-index: -1;
}

.beforeWhite::before {
  content: "";
  width: 100%;
  height: 240px;
  background-color: #fff;
  transform: skewY(-6deg);
  transform-origin: top left;
  margin-top: 200px;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: 1;
  z-index: -1;
  top: 0;
}

.afterWhite::after {
  content: "";
  width: 100%;
  height: 240px;
  background-color: #fff;
  transform: skewY(-6deg);
  transform-origin: top left;
  margin-top: 200px;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: 1;
  z-index: -1;
}

.gray {
  background-color: #f8f9fa;
}/*# sourceMappingURL=index.css.map */